$navbar-default-bg: yellowgreen;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.center lead {
  font-size: 3em;
  color: red;
  font-family: cursive;
  margin-bottom: 3rem 
}

.jumbotron {
  background-image: asset-url('cover.png');
  height: 400px;
  background-size: cover;
}

.btn {
  background-color: yellowgreen;
  border-radius: 10%;
}

.footer {
  font-size: 1.4em;
} 

.footer small {
  float: left;
  color: yellowgreen;
}

.footer ul li {
  font-size: 1.4em;
  float: right;
  list-style: none;
}

footer small a {
  color: blue;
}

.footer small a:visited {
  color: red;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-user-detail {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-top: 1rem;
}

.user-name {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.user-article {
  font-size: 3rem;
  text-transform: capitalize;
}