<div class="container">
  <footer class="footer">
    <small>
      copyright &copy; <a href="www.facebook.com/reeya3"> practise session</a> by
      <a href="www.facebook.com/reeya3"> reeya manandhar</a>      
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to 'About', about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>